# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Output directories & files
tmp
bin
vendor
coverage.out*
build

# Local env vars
.env*
.keys
backup.env
.DS_Store

*_debug_bin*

# IDE
.idea
.vscode/*
!.vscode/extensions.json
