APP_PORT=8080
STAGE=development
LOCAL_DB_HOST=localhost
LOCAL_DB_PORT=5555
DB_HOST=localhost
DB_PORT=5555
DB_USER=rw_loanservice
DB_PASSWORD=
DB_NAME=loanservice_db
APP_SECRET=secret
EMAIL_SENDGRID_API_KEY=
DEFAULT_SENDER_ADDRESS=loanservice.io@proton.me
DEFAULT_SENDER_ADDRESS="noreply - loanservice.io"
